/* Stijlen voor DashboardComponent */
h2 {
    text-align: center;
    margin-top: 20px; /* Voegt wat ruimte boven de kop toe */
}

.heroes-menu {
    padding: 0;
    margin: auto;
    max-width: 1000px;

    /* Flexbox lay-out */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Wijzigt space-around naar space-between */
    align-content: flex-start;
    align-items: flex-start;
}

a {
    background-color: #3f525c;
    border-radius: 2px;
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 100%;
    min-width: 70px;
    margin: 0.5rem 0; /* Vereenvoudigt de marge */
    box-sizing: border-box;

    /* Flexbox lay-out */
    order: 0;
    flex: 0 1 calc(33.33% - 10px); /* Verdeelt de items in drie kolommen */
    align-self: auto;
}

@media (min-width: 600px) {
    a {
        flex: 0 1 calc(18% - 10px); /* Verdeelt de items in vijf kolommen op grotere schermen */
        margin: 0.5rem; /* Voegt wat marge toe rondom de items */
    }
}

a:hover {
    background-color: #000;
    transition: background-color 0.3s; /* Voegt een vloeiende overgang toe */
}
